@font-face{ 
	font-family: 'Anonymous';
	src: url('resources/fonts/Anonymous-webfont.woff') format('woff')
}

@font-face{ 
	font-family: 'Comme';
	src: url('resources/fonts/Comme-ExtraBold-webfont.woff') format('woff')
}

body {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
}