@font-face {
    font-family: 'Comme';
    src: url('resources/fonts/Comme-ExtraBold-webfont.woff') format('woff')
}

@font-face {
    font-family: 'Droid';
    src: url('resources/fonts/DroidSansMono-webfont.woff') format('woff')
}

@font-face {
    font-family: 'Archivo';
    src: url('resources/fonts/ArchivoNarrow-Regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('resources/fonts/ArchivoNarrow-Bold.otf') format('woff');
    font-weight: bold;
    font-style: normal;
}


html {
    font-size: 16px;
    font-family: 'Archivo'
}

body {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
}

#logo-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
    background-image: url('resources/images/wallhaven-ymrq8g.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 1vh;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

#logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15vh;
    margin-bottom: 65vh;
}

#logo-image {
    width: auto;
    max-height: 90%;
    object-fit: contain;
}

#logo-text {
    font-size: 3rem;
    color: white;
    font-family: 'Comme';
}

#background-logo-section-source {
    align-self: center;
    color: white;
}

#photo-href:link,
#photo-href:visited {
    color: white;
}

#photo-href:hover {
    color: rgb(165, 165, 165);
}

form {
    width: 70vw;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: normal;
}

#form-header {
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 16vw 7vh 4vw;
    align-self: center;
    height: 40vh;
}

#form-header div {
    padding-bottom: 4vh;
}


#form-body {
    padding: 2vh 20vw 2vh 4vw;
    background-color: white;
    height: 35vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#form-submit {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 4vh;
    padding-left: 4vw;
    background-color: #f9fafb;
    height: 25vh;

}

#login-text {
    font-weight: normal;
    font-size: 0.7em;
    padding-top: 3.5vh;
}

#login-text a,
#login-text a:link,
#login-text a:visited {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#login-text a:hover {
    font-weight: bold;
    color: rgb(58, 58, 58);
}

#form-text-action {
    padding-bottom: 2vh;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
}

.form-group {
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
}

input {
    width: 80%;
    border-radius: .5rem;
    font-size: 0.8rem;
    font-family: 'Droid';
    padding: 0.6rem 0.5rem;
    background-color: #fff;
    border: 1px solid #D1D5DB;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

input:valid {
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}

input.touched:invalid,
input.mismatch {
    border: 1px solid #b92326;
    background-color: rgba(185, 35, 38, 0.25);
}

.error-message {
    color: #b92326;
    font-size: 14px;
    margin-top: 5px;
}

:focus {
    outline: 0;
}

label {
    font-family: 'Droid';
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

button {
    background-color: #FFFFFF;
    border: 1px solid rgb(209, 213, 219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: rgb(249, 250, 251);
}

button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

button:focus-visible {
    box-shadow: none;
}